body {
    background-image: url('../nosotros_1.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 80vh;
  }
  nav {

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    top: 40px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 400px; /* Ajusta la distancia desde la izquierda según tus necesidades */
    width: calc(100% - 40px); /* Ajusta el ancho de la barra de navegación restando el doble del espacio que agregaste arriba y a la izquierda */
    padding: 10px 0; /* Ajusta el padding superior e inferior según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
    }
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    
      nav ul li {
        display: inline;
      }
    
      nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 35px; /* Ajusta el tamaño del texto según tus necesidades */
      }
    
      nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }

  .logo-nosotros {
    position: absolute;
    top: 600px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    left: 1100px; /* Ajusta la distancia desde la derecha según tus necesidades */
    transform: translateY(-50%);
  }
  .nosotros img {
        height: 400px; /* Ajusta el tamaño del logo según tus necesidades */
      }
  .mision {
    font-family: 'Poppins Bold', sans-serif;
    font-weight: 600; 
    position: absolute;
    bottom: 470px; /* Ajusta la distancia desde la parte inferior según tus necesidades */
    left: 10%; /* Centra horizontalmente */
    transform: translateX(-50%);
    background-color: rgb(174, 231, 231); /* Color de fondo rosa con opacidad */
    padding: 5px 10px; /* Ajusta el relleno interior según tus necesidades */
    border-radius: 5px; /* Ajusta el radio de borde según tus necesidades */
    font-size: 30px; /* Ajusta el tamaño del texto según tus necesidades */
    color: white; /* Color de texto blanco */
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  .vision {
    font-family: 'Poppins Bold', sans-serif;
    font-weight: 600; 
    position: absolute;
    bottom: 300px; /* Ajusta la distancia desde la parte inferior según tus necesidades */
    left: 10%; /* Centra horizontalmente */
    transform: translateX(-50%);
    background-color: rgb(252, 143, 170); /* Color de fondo rosa con opacidad */
    padding: 5px 10px; /* Ajusta el relleno interior según tus necesidades */
    border-radius: 5px; /* Ajusta el radio de borde según tus necesidades */
    font-size: 30px; /* Ajusta el tamaño del texto según tus necesidades */
    color: white; /* Color de texto blanco */
    text-align: center; /* Centra el texto horizontalmente */
  }
  .codigo{
    font-family: 'Poppins Bold', sans-serif;
    font-weight: 600; 
    position: absolute;
    bottom: 130px; /* Ajusta la distancia desde la parte inferior según tus necesidades */
    left: 15%; /* Centra horizontalmente */
    transform: translateX(-50%);
    background-color: rgb(224, 209, 141); /* Color de fondo rosa con opacidad */
    padding: 5px 10px; /* Ajusta el relleno interior según tus necesidades */
    border-radius: 5px; /* Ajusta el radio de borde según tus necesidades */
    font-size: 30px; /* Ajusta el tamaño del texto según tus necesidades */
    color: white; /* Color de texto blanco */
    text-align: center; /* Centra el texto horizontalmente */
  }
  
  
  .mision-texto {
    position: absolute;
    bottom: 350px; /* Ajusta la distancia desde la parte inferior según tus necesidades */
    left: 38%; /* Centra horizontalmente */
    transform: translateX(-50%);
    padding: 5px 10px; /* Ajusta el relleno interior según tus necesidades */
    border-radius: 5px; /* Ajusta el radio de borde según tus necesidades */
    font-size: 20px; /* Ajusta el tamaño del texto según tus necesidades */
    text-align: justify /* Centra el texto horizontalmente */
  }
  
  .vision-texto {
    position: absolute;
    bottom: 200px; /* Ajusta la distancia desde la parte inferior según tus necesidades */
    left: 38%; /* Centra horizontalmente */
    transform: translateX(-50%);
    padding: 5px 10px; /* Ajusta el relleno interior según tus necesidades */
    border-radius: 5px; /* Ajusta el radio de borde según tus necesidades */
    font-size: 20px; /* Ajusta el tamaño del texto según tus necesidades */
    text-align: justify /* Centra el texto horizontalmente */
  }
  
  .codigo-texto {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde la parte inferior según tus necesidades */
    left: 38%; /* Centra horizontalmente */
    transform: translateX(-50%);
    padding: 5px 10px; /* Ajusta el relleno interior según tus necesidades */
    border-radius: 5px; /* Ajusta el radio de borde según tus necesidades */
    font-size: 20px; /* Ajusta el tamaño del texto según tus necesidades */
    text-align: justify /* Centra el texto horizontalmente */
  }

  p {
    font-family: 'Poppins Medium', sans-serif;
    color: rgb(151, 151, 151);
}
